@use "@/app/styles/backgrounds/under-maintenance.scss";

body {
  font-family: "Noto Sans", sans-serif;
  color: #757575;
  background-color: #eeeeee;
}

.maintenace {
  height: 100%;

  & [class*="container"] {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 500px;
  width: 750px;
  background: #fff;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5px;
  border: 1px solid #4DA187;
}

.animation {
  margin-top: 20%;
  display: inline-block;
  margin-bottom: 5%;
  margin-inline: auto;
}

.box {
  text-align: center;
  margin-top: 24px;

  h1 {
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
  }
  
  p {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }
}

.one,
.two,
.three {
  display: block;
  float: left;
}

.one {
  @include under-maintenance.gearOne;
  width: 80px;
  height: 80px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: -10px;
  margin-right: 8px;
}

.two {
  @include under-maintenance.gearTwo;
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.three {
  @include under-maintenance.gearThree;
  width: 80px;
  height: 80px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: -50px;
  margin-left: -10px;
}

@keyframes spin-one {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(-359deg);
  }
}

.spinOne {
  -webkit-animation: spin-one 1.5s infinite linear;
  animation: spin-one 1.5s infinite linear;
}

@keyframes spin-two {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359deg);
    transform: rotate(359deg);
  }
}

.spinTwo {
  -webkit-animation: spin-two 2s infinite linear;
  animation: spin-two 2s infinite linear;
}
