.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;

  .checkboxContainer {}
  
  .nameContainer {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .actionsContainer {}
}