@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@800&display=swap');

.header {
  & [class*="container"] {
    padding: 1rem 2rem;
    height: 78px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // box-shadow: 0px -21px 11px 21px black;
  // border-bottom: 1px solid grey;

  & .logo {
    width: fit-content;
    padding: 5px 20px;
    font-family: 'Plus Jakarta Sans';
    font-size: 1.25rem;
    color: #4DA187 ;
    // border: 4px solid #4DA187;
    border-radius: 20px 1px 20px 1px;
  }
}

nav.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
